#about {

img{
  position: relative;
  display: inline-block;
  overflow: hidden;


  /* faz a máscara com gradiente radial nas bordas */
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;

  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}
  & .even-columns {
    gap: 2rem;
  }
}