*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  /* BRAND COLOR */
  --brand-color-primary: #0142A6;
  --brand-color-secondary: #89CFF0;

  /* BASE COLOR */
  --bg-color: #ffffff;
  --surface-color: #f9fafb;
  --stroke-color: #e5e7eb;
  --text-color-secondary: #111111;
  --text-color-primary: #4b5563;

  /* FONT FAMILY | WEIGHT */
  --ff-sans: "Inter", system-ui, sans-serif;
  --fw-bold: 800;
  --fw-md: 500;
  --fw-base: 400;

  /* FONT SIZE*/
  --fs-h1: 2rem;
  --fs-h2: 1.25rem;
  --fs-h3: 1rem;
  --fs-paragraph: 1rem;
  --fs-span: 0.875rem;

  /* CONTAINER SPACE */
  --padding-x: 0.1rem;
  --padding-y-base: 0.5rem;
  --padding-y-large: 1rem;
  --padding-y-xl: 1.5rem;
}

html {
  font-family: var(--ff-sans);
  font-weight: var(--fw-base);
  font-size: var(--fs-paragraph);
  line-height: 1.4;
  color: var(--text-color-primary);
  background-color: var(--bg-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: var(--fw-bold);
  letter-spacing: -0.04em;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

a {
  text-decoration: none;
  color: var(--brand-color-primary);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--brand-color-secondary);
}

ul[role="list"] {
  list-style: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

@media (width >= 80em) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1rem;
    --padding-x: 1rem;
    --padding-y-base: 0.75rem;
    --padding-y-large: 1.25rem;
    --padding-y-xl: 2.5rem;
  }
}